include @/@loadingio/bootstrap.ext/index.pug
include @/ldview/index.pug
div: .d-flex.flex-grow-1.w-100.h-100(plug="content")
  style(type="text/css"): include:stylus all/index.styl
  script(type="@plotdb/block")
    :lsc submod = {}
    include:lsc rule.ls
    include:lsc monitor.ls
    include:lsc all/download.ls
    include:lsc all/project.ls
    include:lsc all/index.ls
  include rule.pug
  include monitor.pug
  .d-flex.flex-column(style="overflow:scroll;flex:3 2 55%;width:55%")
    .flex-grow-1.bg-white.border-bottom
      .w-100
        .px-2.d-flex.align-items-center.bg-light.sticky.shadow-sm.g-2.z-float(
        style="top:0;min-width:100%;width:fit-content;flex-wrap:nowrap;border-top:1px solid #eee;border-bottom:1px solid var(--secondary)")
          .py-1.clickable.text-center(t,style="width:60px") 序位
          .py-1.clickable.text-center.d-none(style="width:3.5em",ld="show-group") #[span(t) 分組]
          .py-1.clickable.text-center(t,ld="sort",data-name="sid",style="width:80px") 編號
          .py-1.flex-grow-1.clickable(ld="sort",data-name="name",style="width:15em")
            +scope().input-group.has-icon(ld="search-widget")
              input.form-control.form-control-sm(ld="keyword",t,t-placeholder="searchhint")
              .input-group-append(ld="search")
                i.i-close.text-danger.input-group-icon.clickable(ld="clear")
                .btn.btn-sm.btn-outline-secondary.border: i.i-magnify(style="line-height:1em")
          .py-1.text-right.px-2.clickable.d-none(t,ld="show-budget sort",data-name="budget",style="width:50px") 預算
          .py-1.text-center(style="width:5em") 總票數

          .py-1.text-center(data-name="shortlist",style="width:3em"): span.text-nowrap(t) 入選標記
          .text-center.d-flex.flex-column(style="flex:0 0 auto;align-self:stretch")
            .d-flex.judge-cells.flex-grow-1
              .d-flex.align-items-center(ld-each="judge",style="width:3em")
                .w-100.text-truncate(ld="name",style="font-size:.85em")
          .py-1.text-center.clickable(style="width:2.8em") #[span(t) 會前加註]
          .py-1.text-center.clickable(style="width:2.8em") #[span(t) 會中加註]
          .py-1.text-center(style="width:3em"): span.text-nowrap(t) 迴避

        .prj(ld-each="project")
          .px-2.py-1.d-flex.align-items-center.border-bottom.border-light.g-2
            .text-center.align-items-end.justify-content-center.text-nowrap.pl-1.clickable(
            style="width:60px",ld="rank")
              span(ld="number")
              span.text-sm.text-muted(ld="postfix")
            .text-center.clickable.d-none(ld="show-group",style="width:3.5em"): .text-sm(ld="group")
            .text-center.clickable.text-sm(style="width:80px",ld="custom-id")
            .flex-grow-1(style="width:15em")
              .text-underline.clickable.text-dark(ld="name",style="word-break:break-all")
              .text-sm.text-muted(ld="teamname")
            .text-center(style="width:5em",ld="ticket") 0

            .rounded.text-center.clickable.py-1.final-result.has-tips.d-flex.align-items-center.justify-content-center(ld="result",style="width:3em;align-self:stretch;")
              i(ld="icon")
              .hover-tip.tip-sm.tip-fit(t="超額入選")
            .d-flex.text-center.judge-cells(style="flex:0 0 auto;align-self:stretch")
              div(ld-each="judge",style="width:3em"): div(ld="ticket") 0
            .text-center.clickable(ld="staff-note",data-type="prenote",style="width:2.8em"): i.i-comment(ld="icon")
            .text-center.clickable(ld="staff-note",data-type="note",style="width:2.8em"): i.i-comment(ld="icon")
            .clickable.text-center.dropdown-toggle(data-toggle="dropdown",style="width:3em",ld="avoid") 0

    .py-2.px-3.d-flex.text-nowrap.sticky.bg-white(
    style="bottom:0;left:0;right:0;box-shadow:0 -.12rem .25rem rgba(0,0,0,.07);width:fit-content;min-width:100%")
      .flex-grow-1.d-flex.align-items-center
        .d-none(ld="summary",data-name="t"): .d-flex
          .mr-1(t) 入選
          .mr-3.rounded-sm.px-2.bg-success.text-white(ld="result",data-name="1") 0
          .mr-1(t) 未入選
          .mr-2.rounded-sm.px-2.bg-secondary.text-white(ld="result",data-name="0") 0
          div(ld="show-group"): .d-flex.align-items-center.h-100
            .mx-2.d-flex.align-items-center.text-sm(ld-each="group-summary")
              .mr-1(ld="name")
              .d-flex.rounded-sm.overflow-hidden.text-white
                .bg-success.px-1(ld="result",data-name="1") 0
                .bg-secondary.px-1(ld="result",data-name="0") 0

        .d-none.ml-2(ld="is-admin")
          .btn.btn-sm.btn-outline-primary(t="發布",ld="publish")
        .flex-grow-1.mx-2
        .d-none(ld="is-admin"): .d-flex.g-2
          .dropup(ld="all-sort")
            .btn.btn-sm.btn-outline-primary.dropdown-toggle(ld="dropdown"
            data-toggle="dropdown") #[span(t) 總表排序]: #[span(ld="all-sort-method-name")]
            .dropdown-menu.dropdown-menu-right.shadow-sm
              .dropdown-item(ld="all-sort-method",data-name="rank") #[span(t) 序位] #[i.i-check]
              .dropdown-item(ld="all-sort-method",data-name="id") #[span(t) 編號] #[i.i-check]
              .dropdown-item(ld="all-sort-method",data-name="custom-order") #[span(t) 簡報順序] #[i.i-check]
          .btn-group
            .btn.btn-sm.btn-outline-primary(t,ld="toggle-monitor") 評選進度
            .btn.btn-sm.btn-outline-primary(t,ld="toggle-detail") 評分細節
            .btn-group.dropup
              .btn.btn-sm.btn-outline-primary.dropdown-toggle(ld="dropdown",data-toggle="dropdown",t) 設定項目
              .dropdown-menu.dropdown-menu-right.shadow-sm(style="min-width:fit-content")
                .dropdown-item(t,ld="toggle-order") 簡報順序
                .dropdown-item(t,ld="toggle-rule") 規則設定
                .dropdown-item(t,ld="toggle-group") 分組設定
                .dropdown-item(t,ld="toggle-i18n") 翻譯設定
                .dropdown-item.align-items-center(ld="toggle-wake-lock")
                  span(t) 喚醒鎖
                  .ml-2.switch(ld="wake-lock-state")
            .btn.btn-sm.btn-outline-primary(t,ld="download-csv") 下載 CSV

  .d-none(style="flex:0 1 0%")
    .card.border.shadow.w-100.h-100(style="overflow:hidden;border-radius: .5em 0 0 .5em"): .card-body.p-0
      iframe.border-0.w-100.h-100(ld="iframe")
      .w-100.h-100.vertical-center.position-absolute.z-float.bg-light(
      ld="iframe-placeholder",style="top:0;left:0")
        .w-100.text-center.text-muted
          .text-lg(t) 提案瀏覽區
          div(t) 您可以點擊左方的提案名稱以在此瀏覽該提案內容
      object.w-100.h-100(data="",type="application/pdf")
        embed(src="",type="application/pdf")
